@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #bbb;
	--secondary-color: #fff;
	--eyes-color: #000;
}

body {
	background-image: radial-gradient(
		circle,
		#049924,
		#38a31f,
		#55ad19,
		#6eb712,
		#87c008
	);
}

.container {
	margin: 0 auto;
	height: 100vh;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
}

.rabbit {
	height: 67%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	font-size: 10px;

	position: relative;
}

/**************** ears ****************/
.ears {
	width: 10em;
	display: flex;
	justify-content: space-between;
}

.ear,
.inner-ear {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.ear {
	padding-top: 1em;
	height: 15em;
	width: 4.5em;
	border-radius: 50%;
	background-color: var(--primary-color);
}

.inner-ear {
	height: 14em;
	width: 2.5em;
	border-radius: 50%;
	background-color: var(--secondary-color);
	margin: 0 auto;
}

/**************** head ****************/
.head {
	position: absolute;
	width: 13em;
	height: 13.5em;
	border-radius: 50%;
	top: 10.5em;
	background-color: var(--primary-color);
}

.eyes {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.eye {
	margin-top: 2.5em;
	width: 2.5em;
	height: 3em;
	border-top-left-radius: 75px;
	border-top-right-radius: 75px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.eye-ball {
	margin-top: 1em;
	width: 2em;
	height: 2.75em;
	border-top-left-radius: 75px;
	border-top-right-radius: 75px;
	background-color: var(--eyes-color);
}

/**************** nose and mouth ****************/
.nose-and-mouth {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nose {
	margin-top: 1.5em;
	width: 3.2em;
	height: 2.2em;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 3.5em;
	border-bottom-right-radius: 3.5em;
	background-color: red;
	z-index: 1;
}

.mouth {
	display: flex;
	margin-top: -1em;
}

.mouth-part {
	width: 2.5em;
	height: 2.2em;
	border-radius: 50%;
}

.mouth-part.left {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.mouth-part.right {
	border-bottom: 1px solid black;
}

/**************** body ****************/
.body {
	position: absolute;
	width: 18em;
	height: 17.5em;
	border-radius: 45%;
	top: 20.5em;
	background-color: var(--primary-color);
}

/**************** hands ****************/
.hands {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hand {
	height: 5em;
	width: 3em;
	border-radius: 50%;
	background-color: var(--secondary-color);
}

/**************** legs ****************/
.legs {
	position: absolute;
	width: 110%;
	left: -0.6rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: -1rem;
	z-index: -2;
}

.leg {
	background-color: var(--secondary-color);
	height: 7em;
	width: 5.5em;
	border-radius: 50%;
}

.left-leg {
	transform: rotate(45deg);
}

.right-leg {
	transform: rotate(-45deg);
}

.color-picker {
	height: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-family: "Montserrat", sans-serif;
}

.color-picker h1 {
	margin-bottom: 0.75em;
	font-size: 1.5rem;
}

label {
	margin-bottom: 0.75em;
}

#surprise-btn {
	border: 1px solid #ffffff;
	color: #ffffff;
	background-color: inherit;
	font-family: inherit;
	padding: 0.5em;
	cursor: pointer;
}

#surprise-btn:focus {
	outline: none;
}

@media only screen and (min-width: 900px) {
	.container {
		flex-direction: row;
		max-width: 800px;
	}

	.rabbit,
	.color-picker {
		flex: 1;
		height: 100%;
	}

	.rabbit {
		font-size: 14px;
	}

	.color-picker {
		justify-content: center;
	}
}
