@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 14px;
	background-color: #d9d9d9;
	font-family: "Roboto", sans-serif;
	/* border: 1px solid red; */
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	max-width: 900px;
	overflow: hidden;
	/* padding: 2em; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	background-color: #ececec;
	border-radius: 1em;
}

.hero-container,
form {
	flex: 1;
}

.hero-container {
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid blue; */
}

form {
	/* overflow: hidden; */
	padding: 0.5em 2em 2em;
	background-color: white;
	/* border: 1px solid red; */
}

.input-wrapper {
	position: relative;
	height: 50px;
}

.input-wrapper {
	margin-top: 1em;
	overflow: hidden;
}

.input-wrapper input {
	width: 100%;
	height: 100%;
	color: #3f3d56;
	background-color: inherit;
	padding-top: 20px;
	border: none;
}

.input-wrapper input:focus {
	outline: none;
}

.input-wrapper label {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	color: #3f3d56;
	border-bottom: 1px solid #3f3d56;
}

.input-wrapper label::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 2px solid #536dfe;
	transform: translateX(-120%);
	transition: transform 0.3s ease;
}

.content-name {
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: all 0.3s ease;
}

.input-wrapper input:focus + .label-name .content-name,
.input-wrapper input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	color: #536dfe;
}

.input-wrapper input:focus + .label-name::after,
.input-wrapper input:valid + .label-name::after {
	transform: translateX(0%);
}

.input-wrapper input:focus {
	border-bottom: 1px solid red;
}

.sign-up-btn {
	width: 100%;
	padding: 0.75em;
	margin-top: 3em;
	background-color: #536dfe;
	border: 2px solid #536dfe;
	color: white;
	border-radius: 2em;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

.sign-up-btn:hover {
	background-color: white;
	color: #536dfe;
}

.sign-up-btn:focus {
	outline: none;
}

@media only screen and (min-width: 550px) {
	.container {
		display: flex;
		justify-content: center;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
