@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 14px;
	background-color: #d9d9d9;
	font-family: "Roboto", sans-serif;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	max-width: 900px;
	overflow: hidden;
	background-color: #ececec;
	border-radius: 1em;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

.hero-container,
form {
	flex: 1;
}

.hero-container {
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	padding: 0.5em 2em 2em;
	background-color: white;
}

form.hidden {
	display: none;
}

.input-wrapper {
	position: relative;
	height: 50px;
}

.input-wrapper {
	margin-top: 1em;
	overflow: hidden;
}

.input-wrapper input {
	width: 100%;
	height: 100%;
	color: #3f3d56;
	background-color: inherit;
	padding-top: 20px;
	border: none;
}

.input-wrapper input:focus {
	outline: none;
}

.input-wrapper label {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	color: #3f3d56;
	border-bottom: 1px solid #3f3d56;
}

.input-wrapper label::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 2px solid #536dfe;
	transform: translateX(-120%);
	transition: transform 0.3s ease;
}

.content-name {
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: all 0.3s ease;
}

.input-wrapper input:focus + .label-name .content-name,
.input-wrapper input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	color: #536dfe;
}

.input-wrapper input:focus + .label-name::after,
.input-wrapper input:valid + .label-name::after {
	transform: translateX(0%);
}

.input-wrapper input:focus {
	border-bottom: 1px solid red;
}

.sign-up-btn,
.back-btn {
	width: 100%;
	padding: 0.75em;
	border-radius: 2em;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	margin-top: 3em;
}

.sign-up-btn {
	background-color: #536dfe;
	border: 2px solid #536dfe;
	color: white;
}

.back-btn {
	background-color: white;
	color: #536dfe;
	font-weight: bold;
	border: 2px solid white;
}

.back-btn:hover {
	color: white;
	background-color: #536dfe;
}

.sign-up-btn:hover {
	background-color: white;
	color: #536dfe;
}

.sign-up-btn:focus,
.back-btn:focus {
	outline: none;
}

.success-box {
	flex: 1;
	background-color: #536dfe;
	color: white;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.25rem;
	text-align: center;
	padding: 1em;
	line-height: 1.5;
}

.account-name span {
	font-weight: bold;
}

.success-box.visible {
	display: flex;
}

@media only screen and (min-width: 550px) {
	.container {
		display: flex;
		justify-content: center;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
