@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	font-family: "Varela Round", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(
		to bottom,
		#051937,
		#0a284c,
		#0d3862,
		#0d4879,
		#075a90
	);

	position: relative;
}

.container.surprise {
	background-image: linear-gradient(
		to bottom,
		#440346,
		#4a3477,
		#435ea5,
		#2d88cc,
		#12b2eb
	);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
	text-align: center;
}

.title {
	color: white;
	font-size: 3rem;
	margin-top: 0.5em;
}

.show-btn {
	margin: 0 1em;
}

.btn {
	color: white;
	background-color: inherit;
	border: 1px solid white;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	margin-top: 2em;
	cursor: pointer;
	font-family: inherit;
}

.btn:focus {
	outline: none;
}

.cards {
	width: 80%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
	perspective: 1000px;
}

.card {
	height: 200px;
	cursor: pointer;
	position: relative;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	transform-origin: center right;
}

.card-face {
	border-radius: 0.2em;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card-front span {
	pointer-events: none;
	animation: customRotate 1s;
}

@keyframes customRotate {
	from {
		transform: rotateY(180deg);
		opacity: 0;
	}
	to {
		transform: rotateY(0deg);
		opacity: 1;
	}
}

.card-front {
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

.card-back {
	background: #02132c;
	border-radius: 1em;
	transform: rotateY(180deg);
}

.card.is-flipped {
	transform: rotateY(180deg);
}

.card.is-flipped {
	transform: translateX(-100%) rotateY(-180deg);
}

@media (max-width: 1000px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5em;
	}
}

@media (max-width: 750px) {
	.title {
		margin-top: 1.2em;
	}
	.cards {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
	}
}

@media (max-width: 470px) {
	.title {
		font-size: 2rem;
	}

	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
